@model List<ResultBookDto>


@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="product-item">
            <figure class="product-style">
                <img src="@item.ImageUrl" style="height:400px; width: auto!important" alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                    Sepete Ekle
                </button>
            </figure>
            <figcaption>
                <h3>@item.Name</h3>
                <span>@item.Writer.Name @item.Writer.Surname</span>
                <div class="item-price">₺ @item.Price</div>
            </figcaption>
        </div>
    </div>
}
