@model GetRandomBookDto
<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <img src="@Model.ImageUrl" alt="book" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Keşfetmeniz Gereken Bir Kitap</h2>

                            <div class="products-content">
                                <div class="author-name">Yazar : @Model.Writer.Name @Model.Writer.Surname </div>
                                <div class="author-name">Sayfa Sayısı : @Model.Page </div>
                                <h3 class="item-title">@Model.Name</h3>
                                <p>
                                   @(Model.Description.Length>200 ? Model.Description.Substring(0,200)+"..." : Model.Description)
                                </p>
                                <div class="item-price"></div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn-accent-arrow">
                                        Hemen Satın Al <i class="icon icon-ns-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / row -->

            </div>

        </div>
    </div>
</section>
